<div class="history-container">
  <span>Bill history</span>
  <table>
    <thead>
      <th>Last Meter reading</th>
      <th>Current Reading</th>
      <th>Units consumed</th>
      <th>Amount</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of history; let first = first; let i = index">
        <td>{{ item.lastMeterReading }}</td>
        <td>{{ item.currentReading }}</td>
        <td>{{ item.unitsConsumed }}</td>
        <td>{{ item.amount }}</td>

        <td *ngIf="first">
          <a routerLink="/edit/{{ item.id }}">Edit</a>&nbsp;
          <a (click)="delete(item.id, i)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
