<div class="history-container">
  <span>Bill history</span>
  <table>
    <thead>
      <th>Last Meter reading</th>
      <th>Current Reading</th>
      <th>Units consumed</th>
      <th>Amount</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of history; let first = first">
        <td>{{ item.lastMeterReading }}</td>
        <td>{{ item.currentReading }}</td>
        <td>{{ item.unitsConsumed }}</td>
        <td>{{ item.amount }}</td>

        <td *ngIf="first">
          <a routerLink="/edit/{{ 1 }}">Edit</a>&nbsp;
          <a routerLink (click)="delete()">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
